.stagesContainer {
    margin-top: 70px;
    // margin-bottom: 70px;
    h3 {
        color: #000000;
        font-size: 36px;
        span {
            color: #0038FF
        }
    }
    display: flex;
    flex-direction: column;
    align-items: center;
    .itemsContainer {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        max-width: 1200px;
        margin-top: 40px;
        .item {
            margin: 10px;
            border-radius: 10px;
            min-height: 340px;
            width: 339px;
            box-shadow: 0px 2px 25px 0px rgba(0, 0, 0, 0.1);
            transition: .2s;
            cursor: pointer;
            .headerItem {
                margin: 10px;
                max-width: 339px;
                display: flex;
                align-items: center;
                border-bottom: 2px solid #0038FF;
                h3 {
                    font-size: 60px;
                    color: #0038FF82;
                    font-family: "Anton", sans-serif;
                }
                p {
                    margin-left: 10px;
                    font-weight: 700;
                    font-size: 20px;
                    color: #333A59;
                    line-height: 28px;
                }
            }
            .descr {
                width: 339px;
                padding: 10px;
                color: #333A59;
                font-weight: 600;
                font-size: 14px;
            }
        }
        .item:hover {
            transform: scale(1.02);
        }
    }
}

.line {
    margin-top: 50px;
    height: 2px;
    width: 70%;
    background-color: #2C54FF;
}

@media (max-width: 768px) {
    .itemsContainer {
        flex-direction: column;
    }

    .stagesContainer {
        h3 {
            font-size: 26px;
            margin-left: 10px;
        }
    }
}