.container {
  display: flex;
  margin-top: 100px;
  align-items: center;
  flex-direction: column;
  width: 100%;

  .textDiv {
    p {
      margin-top: 20px;
      color: #0038ff;
      line-height: 30px;
      font-size: 18px;
      letter-spacing: 0.7px;
    }
  }

  .btnDiv {
    margin-top: 50px;

    button {
      background-color: #0038ff !important;
      width: 340px;
      height: 50px;
      cursor: pointer;
      border-radius: 20px;
      color: white;
      font-weight: bold;
      outline: none;
      border: none;
      transition: 0.1s;
    }

    button:hover {
      background-color: #002fe1;
    }
  }

  .infoDiv {
    display: flex;
    margin-top: 30px;
    align-items: center;

    div {
      margin-left: 20px;
      margin-right: 20px;
      width: 193px;
      display: flex;
      flex-direction: column;
      align-items: center;

      img {
      }

      p {
        font-weight: 500;
        font-size: 15px;
        line-height: 15px;
        text-align: center;
      }
    }
  }
}

.line {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  width: 100%;

  div {
    display: flex;
    justify-content: center;
    width: 95%;
    background-color: #2c54ff;
    height: 2px;
  }
}

.callbackBlock {
  //margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .searchPostavshikovBlock {
    display: flex;
    margin-top: 31px;
    max-width: 900px;

    img {
      width: 274px;
      height: 274px;
    }

    .wrapper {
      display: flex;
      flex-direction: column;
    }

    .list {
      .titleList {
        margin-top: 20px;
      }

      h4 {
        color: #333a59;
        font-weight: 800;
        font-size: 21px;
        margin-left: 15px;
      }

      ul {
        list-style: none;
        margin-top: 15px;
      }

      li {
        display: flex;
        color: #6f7cb2;
        font-weight: 500;
        margin-top: 10px;
        font-size: 15.9px;
        line-height: 19px;
        padding-left: 20px;
      }

      li:last-child {
        align-items: center;
      }

      li::before {
        content: "•";
        color: #0033e3;
        font-size: 40px;
        margin-right: 8px;
      }

      li:last-child::before {
        margin-bottom: 5px;
      }
    }
  }

  .secondBlockPostavshiki {
    margin-top: 15px;
    display: flex;
    max-width: 900px;

    img {
      width: 300px;
      height: 300px;
    }

    .list {
      .titleList {
        margin-top: 20px;
      }

      h4 {
        color: #333a59;
        font-weight: 800;
        font-size: 21px;
        margin-left: 15px;
      }

      ul {
        list-style: none;
        margin-top: 15px;
      }

      li {
        display: flex;
        color: #6f7cb2;
        font-weight: 500;
        margin-top: 10px;
        font-size: 15.5px;
        line-height: 19px;
        padding-left: 20px;
      }

      li:last-child {
        align-items: center;
      }

      li::before {
        content: "•";
        color: #0033e3;
        font-size: 40px;
        margin-right: 8px;
      }

      li:last-child::before {
        margin-bottom: 5px;
      }
    }
  }
}

.socialsDiv {
  position: absolute;
  top: 250px;
  right: 40px;

  .iconDiv {
    margin-top: 10px;
    cursor: pointer;
    background-color: #002fe1;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.hideSocials {
  display: none;
}

.line1 {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #2c54ff;
  height: 2px;
  margin-top: 50px;
}

@media (max-width: 1071px) {
  .headerText {
    font-size: 30px !important;
  }
  
  .socialsDiv {
    position: static;
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
    .iconDiv:not(:first-child) {
      margin-left: 40px;
    }
  }
}

@media (max-width: 924px) {
  .headerText {
    font-size: 30px !important;
  }
  .callbackBlock {
    width: 100%;
  }
  .line1 {
    margin-top: 170px !important
  }
  .img {
    width: 86%;
  }
  .line1 {
    width: 90% !important;
  }
  .line {
    width: 90% !important;
  }
  .line {
    width: 90vw;

    div {
      width: 90vw;
    }
  }

  .wrapper {
    align-items: center;
    flex-direction: column;
    width: 90vw;
    justify-content: center;
    display: flex;
    .list {
      width: 90vw;

      h4 {
      }
    }
  }

  .infoDiv {
    width: 100%;
    flex-direction: column;
    margin-top: 0px !important;
  }
  .infoDiv > div:not(:first-of-type) {
    margin-top: 30px;
  }
  .searchPostavshikovBlock {
    justify-content: center;

    img {
      display: none;
    }
  }

  .secondBlockPostavshiki {
    img {
      display: none;
    }
  }
}
.searchManufaktura {
  margin-top: 10px;
}
.conveyor {
  margin-top: 6px;
}

.headerText {
  color: #333a59;
  font-size: 36px;
  line-height: 43px;
  font-weight: 800;
  text-align: center;

  span {
    color: #0038ff;
  }
}
.wrappedTitle {
  margin-top: 90px;
  max-width: 900px;
}
.line {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #2c54ff;
  height: 2px;
}

@media (max-width: 768px) {
  .headerText {
    width: 90vw;
    font-size: 19px !important;
    letter-spacing: -1px;
  }

  .wrappedTitle {
    margin-top: 35px !important
  }

  .searchPostavshikovBlock {
    width: 90%;
  }
  .list {
    width: 350px !important;
    //width: 100% !important;
  }
  .titleList {
    font-size: 18px !important;
    margin-left: 5px !important;
  }
  li {
    padding-left: 10px !important;
    font-size: 15px !important;
  }
}
