.footer {
    min-height: 324px;
    margin-top: 10px;
    width: 100%;
    background-color: #E7ECFF;

    .items {
        padding: 65px 120px;
        display: flex;
        flex-direction: column;
        align-items: center;
        .topBlocks {
            display: flex;
            justify-content: space-between;
            width: 81%;
            border-bottom: 1px solid #CDD1D4;
            padding-bottom: 40px;
            .firstBlock {
                img {
                    width: 162px;
                    height: 109px;
                }
                align-items: center;
                display: flex;
                justify-content: space-between;

                .info {
                    width: 280px;
                    margin-left: 10px;
                    p {
                        color: #929ECC;
                        font-size: 14px;
                        line-height: 20px;
                        margin-left: 10px;
                    }
                }
            }
            .secondBlock {
                display: flex;
                align-items: center;
                width: 300px;

                .contacsBlock {
                    h1 {
                        font-size: 22px;
                        font-weight: 700;
                        line-height: 24px;
                        color: #0038FF   
                    }
                    .infoItem {
                        display: flex;
                        align-items: center;
                        margin-top: 10px;
                        .mailDiv {
                            width: 20px;
                            height: 20px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }
                        img {
                            width: auto;
                            height: 20px;
                        }
                        .mail{
                            width: auto;
                            height:auto;
                        }
                        .clock, .phone {
                            height: auto;
                            width: auto;
                        }
                        .addressInfo {
                            margin-left: 5px;
                            p {
                                font-size: 12.5px;
                                line-height: 14px;
                            }
                            .bolderText {
                                font-size: 13px;
                                font-weight: 500;
                            }
                            .mailText {
                                font-size: 13px;
                                font-weight: 500;
                                text-decoration: underline;
                            }
                        }
                    }
                }
                // img {
                //     user-select: none;
                //     height: 85px;
                // }
                // p {
                //     margin-top: 10px;
                //     font-size: 13px;
                //     line-height: 14px;
                //     span {
                //         font-weight: 600;
                //     }
                // }
            }
        }
        .bottomSide {
            width: 70%;
            display: flex;
            justify-content: space-between;
            margin-top: 10px;
            .links {
                a {
                    cursor: pointer;
                    color: #929ECC;
                    text-decoration: none;
                    font-size: 15px;
                }
                a:not(:first-child) {
                    margin-left: 30px;
                }
            }
            .icons {
                
                img {
                    margin-right: 10px;
                    color: #A9A9A9;
                    cursor: pointer;
                    user-select: none;
                }
            }
        }
    }
}
.wrappBlocks {
    display: flex;
    justify-content: space-between;
    width: 90vw;
}

@media (max-width: 1370px) {
    .items {
        padding: 40px 60px !important; 
        // width: 50% !important;
    }
    .firstBlock {
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 960px) {
    .items {
        padding: 40px 60px !important; 
        // width: 50% !important;
    }
    .firstBlock {
        display: flex;
        flex-direction: column;
    }
    .topBlocks {
        width: 100% !important;
    }
}

@media (max-width: 768px) {
    .wrappBlocks {
        display: flex;
        flex-direction: column;
    }
    .secondBlock {
        display: flex;
        justify-content: center;
    }
    .secondBlock {
        width: 95% !important;
    }
    .firstBlock {
        justify-content: flex-start !important;
        img {
            width: 89px !important;
            height: 64px !important;
        }
    }
    .contacsBlock {
        margin-top: 20px;
    }
    .firstBlock {
        display: flex !important;
        margin: 10px;
        margin-top: 20px;
        flex-direction: row;
        .info {
            p {

            }
        }
    }
    .items {
        padding: 20px !important;
    }
    .info {
        p {
            margin-left: 0px !important;
            font-size: 14px !important;
            word-break: break-word;
            text-align: center;
     }
    }
    .topBlocks {
        width: 100% !important;
        flex-direction: column;
        align-items: center;
    }
    .bottomSide {
        width: 100% !important;
        margin-left: 17px;
        flex-direction: column;
    }
    .icons {
        margin-top: 10px;
    }
    // .links {
    //     width: 80%;
    // }
}